local=false
localDirectory=local-work
file_past=past.xml
file_ongoing=ongoing.xml
file_future=future.xml
category=team
validate_xml=true
check_interval_ms=5000
changes_file=local-work/changes.json
username=your-username
host=ftp.example.com
port=21
password=your-password
